html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

h3, h4 {
  text-align: center;
}

.calender-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: center;
  min-width: 600px;
  border: 1px solid;
  border-bottom: none;
}

.days[data-day-text] {
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
}

.days {
  flex: 13.28%;
  height: 100px;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid;
  border-right: 1px solid;
  text-align: right;
  font-size: 25px;
}

.days:hover {
  background-color: #94bff36e;
}

.days:empty {
  cursor: default;
  pointer-events: none;
}

.pop-up-container {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(56, 50, 50, 0.5);
}

.pop-up-container .pop-up {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 500px;
  height: 200px;
  background-color: #ffffff;
  text-align: center;
}

.details {
  width: calc(100% - 50px);
  padding: 10px;
  resize: none;
}

button {
  bottom: 0;
  position: absolute;
  cursor: pointer;
  color: #ffffff;
  border-radius: 2px;
  margin: 0;
  padding: 0 10px;
  background-color: #4696e7;
  border: 1px solid #4696e7;
}

.save, .close, .ok {
  position: relative;
  padding: 10px;
  top: 40px;
}

.edit {
  left: 0;
}

.del {
  right: 0;
}

.days:nth-child(7n) {
  border-right: none;
}

.days[data-filled="true"] {
  background-color: #94bff3;
}