html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.calender-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
    min-width: 600px;
}

.days {
    flex: 14.28%;
}